<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>0xRikii - blog pribadi</title>
</head>
<body class="bg-my-white dark:bg-my-black text-my-very-black dark:text-my-white">
    {% include navbar.html %}
    
    <div class="container mx-auto w-[75%] max-lg:w-full p-6 mt-20">
      {{ content }}

      
    </div>

        
    </div>

    <script src="/assets/js/script.js"></script>
</body>
</html>